<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>shgt</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>helloworld</display-name>
    <servlet-name>helloworld</servlet-name>
    <servlet-class>helloworld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloworld</servlet-name>
    <url-pattern>/helloworld</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageSelector</display-name>
    <servlet-name>PageSelector</servlet-name>
    <servlet-class>shgt.view.PageSelector</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageSelector</servlet-name>
    <url-pattern>/PageSelector</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminView</display-name>
    <servlet-name>AdminView</servlet-name>
    <servlet-class>shgt.view.AdminView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminView</servlet-name>
    <url-pattern>/AdminView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisitorView</display-name>
    <servlet-name>VisitorView</servlet-name>
    <servlet-class>shgt.view.VisitorView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisitorView</servlet-name>
    <url-pattern>/VisitorView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberView</display-name>
    <servlet-name>MemberView</servlet-name>
    <servlet-class>shgt.view.MemberView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberView</servlet-name>
    <url-pattern>/MemberView</url-pattern>
  </servlet-mapping>
</web-app>